<h2>Создать новое поле</h2>
<form id="createFieldForm" class="form">
    <div class="form-group">
        <label for="fieldName">Название поля:</label>
        <input type="text" id="fieldName" name="fieldName" required maxlength="40">
    </div>
    <button type="submit" class="button">Создать</button>
    <a href="/fields" class="button secondary">Отмена</a>
</form>