<h2 style="margin: 10px 0 20px 15px;">Список полей</h2>

<div class="fields-actions">
    <a style="margin-left: 10px; margin-right:5px" href="/create-field" id="createFieldButton" class="button">Создать поле</a>
     <a href="/rules" id="rulesButton" class="button">Правила</a>
</div>

<div id="fieldsList" class="fields-list">
    <p>Загрузка полей...</p>
</div>